// Roboto
@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto-Regular.ttf');
}

// GaraginRock
@font-face {
    font-family: GaraginRock;
    src: url('./fonts/GaraginRockLite.ttf');
}

// Jomhuria
@font-face {
    font-family: Jomhuria;
    src: url('./fonts/Jomhuria-Regular.ttf');
}

// Oswald-Medium
@font-face {
    font-family: Oswald-Medium;
    src: url('./fonts/Oswald-Medium.ttf');
}

// Oswald-Bold
@font-face {
    font-family: Oswald-Bold;
    src: url('./fonts/Oswald-Bold.ttf');
}
