// colors
$main-color: #000000;
$logo-color: #2E3341;
$phones-color: #2D3240;
$arrows-color: #888888;
$red-color: #F54329;
$green-color: #BAFD37;
$white-color: #ffffff;
$background-color: #E1E3E9;

// fonts 
$main-font: Roboto;
$logo-font: Jomhuria;
$large-font: GaraginRock;
$titles-font: Oswald-Medium;
$button-font: Oswald-Bold;

// Margin
$margin-about: 60px;

// Media-breakpoints
$breackpoint-laptop: 1024px;
$breackpoint-tablet: 768px;
$breackpoint-mobileL: 425px;
$breackpoint-mobileS: 320px;
